:host {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 200px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.image img {
  width: 200px;
  height: 100px;
}
