:host {
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100px;

  box-sizing: border-box;
  margin-bottom: 20px;
}

.input input {
  padding: 12px;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
