/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//panel

.panel {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

select {
  padding: 12px;
  font-size: 18px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row label {
  margin-bottom: 12px;
}

//progress-bar
.progress-bar {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

//body
.body {
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
